<%+header%>
    <style>
        /* Set editor external container style, add rounded corners and border */
        .editor-container {
            border-radius: 12px;
            /* Rounded corners */
            border: 1px solid #ddd;
            /* Border */
            overflow: hidden;
            /* Prevent content overflow */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            /* Add shadow */
            z-index: 9;
        }

        .CodeMirror {
            min-height: 560px !important;
        }

        .btn {
            max-width: 350px;
            width: 100%;
        }

        .btn:hover {
            transform: scale(1.05);
        }

        .btn:active {
            transform: scale(0.98);
            /* Slight scale down on click */
        }
    </style>

    <!-- Import Codemirror Core Style -->
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/codemirror.css">
    <!-- Import Extra Plugin Style -->
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/addon/lint/lint.css">
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/addon/display/fullscreen.css">
    <!-- Import Codemirror Core Script -->
    <script src="/luci-static/resources/openproxy/codemirror/codemirror.js"></script>
    <!-- Import YAML Syntax Highlighting -->
    <script src="/luci-static/resources/openproxy/codemirror/mode/yaml/yaml.js"></script>
    <!-- Import Functional Plugins -->
    <script src="/luci-static/resources/openproxy/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/luci-static/resources/openproxy/codemirror/addon/fold/foldcode.js"></script>
    <script src="/luci-static/resources/openproxy/codemirror/addon/fold/foldgutter.js"></script>
    <script src="/luci-static/resources/openproxy/codemirror/addon/fold/indent-fold.js"></script>
    <script src="/luci-static/resources/openproxy/codemirror/addon/display/fullscreen.js"></script>
    <script src="/luci-static/resources/openproxy/codemirror/addon/scroll/annotatescrollbar.js"></script>
    <script src="/luci-static/resources/openproxy/codemirror/addon/lint/lint.js"></script>
    <script src="/luci-static/resources/openproxy/codemirror/addon/lint/yaml-lint.js"></script>

    <script src="/luci-static/resources/openproxy/libs/js-yaml.min.js"></script>
    <!-- Import Theme Style -->
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/theme/material.css">
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/theme/rubyblue.css">
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/theme/3024-day.min.css">
    <link rel="stylesheet" href="/luci-static/resources/openproxy/codemirror/theme/3024-night.min.css">
    <script type="module">
        let initialContent = ""; // Used to record initial file content
        const themes = ["monokai", "dracula", "3024-night", "3024-day", "material", "rubyblue"];
        // Switch Theme Function
        let currentThemeIndex = 1;
        // Currently Folded
        let isFolded = false;
        // Initialize Editor
        const editor = CodeMirror.fromTextArea(document.getElementById("yaml-editor"), {
            mode: "yaml",
            lineNumbers: true,
            lineWrapping: true,
            theme: "dracula", // Initial theme
            foldGutter: true,
            matchBrackets: true,
            lint: true,
            collapseIdentical: false,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],  // Show fold button
            autoCloseBrackets: true, // Auto close brackets
            extraKeys: {
                "F2": function (cm) { cm.setOption("fullScreen", !cm.getOption("fullScreen")); }, // Toggle Fullscreen
                "Esc": function (cm) { if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false); }, // Exit Fullscreen
                "Ctrl-S": saveFileContent,
            }
        });
        // Toggle Fold/Unfold Function
        function toggleFold() {
            const doc = editor.getDoc();
            const lineCount = doc.lineCount();

            if (isFolded) {
                // Unfold all
                for (let i = 0; i < lineCount; i++) {
                    editor.foldCode({ line: i, ch: 0 }, null, "unfold");
                }
            } else {
                // Fold all code
                for (let i = 0; i < lineCount; i++) {
                    editor.foldCode({ line: i, ch: 0 }, null, "fold");
                }
            }

            // Toggle fold status
            isFolded = !isFolded;
        }
        function loadFileContent() {
            var file = document.getElementById("edit_file").value;
            fetch('<%=luci.dispatcher.build_url("admin", "services", "openproxy", "api", "file_content")%>', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'file=' + encodeURIComponent(file)
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 1000) {
                        // Process success, fill data into editor
                        document.getElementById("yaml-editor").value = data.data;
                        editor.setValue(data.data); // Fill editor with loaded content
                        initialContent = data.data; // Record initial content
                        isFolded = false; // Restore default unfolded status
                    } else {
                        alert(data.message);
                    }
                }).catch(error => {
                    console.log("Failed to load file content: " + error);
                });
        }
        function saveFileContent() {
            var file = document.getElementById("edit_file").value;
            var content = editor.getValue();
            if (content !== initialContent) {
                var confirmSave = confirm("Content changed, save?");
                if (confirmSave) {
                    fetch('<%=luci.dispatcher.build_url("admin", "services", "openproxy", "api", "save_file")%>', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: 'file=' + encodeURIComponent(file) + '&content=' + encodeURIComponent(content)
                    }).then(response => response.json())
                        .then(data => {
                            if (data.status === 1000) {
                                alert("File saved successfully!");
                                initialContent = content; // Update initial content
                            } else {
                                alert("Save failed: " + data.message);
                            }
                            console.log(data);
                        })
                        .catch(error => {
                            alert("Save failed: " + error);
                        });
                } else {
                    alert("Save cancelled");
                }
            } else {
                alert("No changes, no need to save");
            }
        }
        function deleteFile() {
            var file = document.getElementById("edit_file").value;
            var confirmSave = confirm("Confirm delete file 『 " + file + " 』?");
            if (confirmSave) {
                fetch('<%=luci.dispatcher.build_url("admin", "services", "openproxy", "api", "delete_file")%>', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'file=' + encodeURIComponent(file)
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === 1000) {
                            // Delete option and reload file content
                            document.getElementById("edit_file").remove(document.getElementById("edit_file").selectedIndex);
                            document.getElementById("edit_file").selectedIndex = 0;
                            loadFileContent();
                            alert("File deleted successfully!");
                        } else {
                            alert("Delete failed: " + data.message);
                        }
                    })
            } else {
                alert("Delete cancelled");
            }
        }
        function update_value(key, value) {
            fetch('<%=luci.dispatcher.build_url("admin", "services", "openproxy", "api", "update_value")%>', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'key=' + encodeURIComponent(key) + '&value=' + encodeURIComponent(value)
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 1000) {
                        console.log("Config updated successfully!");
                    } else {
                        console.log("Update failed: " + data.message);
                    }
                })
        }
        window.onload = () => {
            fetch('<%=luci.dispatcher.build_url("admin", "services", "openproxy", "api", "load_editor_status")%>', {
                method: 'GET',
            }).then(response => response.json())
                .then(data => {
                    document.getElementById("edit_file").value = data["editor_file"];
                    loadFileContent(); // Call load file content on page load
                    editor.setOption("theme", themes[data["editor_theme"]] || themes[currentThemeIndex]);
                }).catch(error => {
                    console.error('Error fetching editor status:', error);
                })
            document.getElementById("toggle-fold").addEventListener("click", toggleFold);
            document.getElementById("edit_file").onchange = loadFileContent;

            document.getElementById("save-code").addEventListener("click", saveFileContent);
            document.getElementById("delete-btn").addEventListener("click", deleteFile);

            document.getElementById("switch-theme").addEventListener("click", () => {
                currentThemeIndex = (currentThemeIndex + 1) % themes.length;
                editor.setOption("theme", themes[currentThemeIndex]);
                update_value("config.editor_theme", currentThemeIndex); // Update theme
            });
        };
    </script>

    <% local function is_yaml(file) return string.match(file, "%.yaml$" ) or string.match(file, "%.yml$" ) end %>

        <div class="cbi-section">
            <div class="toolbar">
                <label>
                    <%:Select Edit File%>:
                </label>
                <select id="edit_file">
                    <% for f in nixio.fs.dir("/etc/openproxy/config/") do if is_yaml(f) then %>
                        <option value="<%= '/etc/openproxy/config/' .. f%>">
                            <%:Config File:%>
                                <%=f%>
                        </option>
                        <% end end%>
                            <% for f in nixio.fs.dir("/etc/openproxy/custom_rule/") do if is_yaml(f) then %>
                                <option value="<%= '/etc/openproxy/custom_rule/' .. f%>">
                                    <%:Rule File:%>
                                        <%=f%>
                                </option>
                                <% end end%>
                                    <% for f in nixio.fs.dir("/etc/openproxy/custom_proxy/") do if is_yaml(f) then %>
                                        <option value="<%= '/etc/openproxy/custom_proxy/' .. f%>">
                                            <%:Proxy File:%>
                                                <%= f %>
                                        </option>
                                        <% end end %>
                                            <% for f in nixio.fs.dir("/etc/openproxy/template/") do if is_yaml(f) then
                                                %>
                                                <option value="<%= '/etc/openproxy/template/' .. f%>">
                                                    <%:Template File:%>
                                                        <%=f%>
                                                </option>
                                                <% end end%>
                </select>
                <input type="button" class="btn cbi-button cbi-button-reload" id="toggle-fold"
                    value="<%:toggle fold%>"></input>
                <input type="button" class="btn cbi-button cbi-button-reload" id="switch-theme"
                    value="<%:toogle theme%>"></input>
                <input type="button" class="btn cbi-button cbi-button-reload" id="save-code" value="<%:Save%>"></input>
                <input type="button" class="btn cbi-button cbi-button-reload" id="delete-btn"
                    value="<%:Delete%>"></input>
            </div>
        </div>
        <div class="editor-container">
            <textarea id="yaml-editor"></textarea>
        </div>
        <div style="margin: 10px 0; text-align: left">
            <b>
                <%:Editor shortcut F2 fullScreen%> | <%:Editor shortcut Esc normal%> | <%:Editor shortcut Ctrl+S save%>
            </b>
        </div>
        <%+footer%>